.create-client {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 2rem;
}

.create-client h2{
    text-align: center;
}
.create-client .form_create_client {
    margin: 0 auto;
    max-width: 80%;
    height: auto;
}

.form_create_client .campo{
    margin-bottom: 3rem;
}
.form_create_client legend{
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: #707070;
}
.form_create_client .campo label {
    color: #707070;
}

.create-client .form_create_client input[type="text"],
.create-client .form_create_client input[type="email"] {
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-top: 1rem;
    padding: 1.5rem;
    width: 100%;
    border-radius: 0.5rem;
    outline: none;
    font-family: 'Arial', sans-serif;
}

.create-client .form_create_client input[type="text"]:focus,
.create-client .form_create_client input[type="email"]:focus {
    border: 3px solid #347cbb;
}

.create-client .form_create_client .buttonSubmit {
    background-color: #347cbb;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 900;
}
.create-client .form_create_client .cancelSubmit {
    background-color: red;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 900;
}
.create-client .form_create_client .buttonSubmit:hover {
    background-color: #235a8c;
}
