.create-client{
    width: 120rem;
    margin: 0 auto;
    height: auto;
}

.create-client form{
    padding: 2rem;
    height: auto;
}

.create-client form input[type="text"],
.create-client form input[input="email"]{
    border: .5px solid;
}
.create-client form input[type="text"]:focus,
.create-client form input[type="email"]:focus{
    border: 3px solid #347cbb;
    border-color: #347cbb;
}

.create-client-header{
    display: flex; 
    align-items: center
    
}