.table-products {
    border-collapse: collapse;
    overflow-y: scroll;
    max-height: 50rem;
}
.table-products table{
    border-collapse: collapse;
}
.productsAll {
    padding: 0 5rem;
    text-align: center;
    width: auto;
    margin: 0 auto;
}
.productsAll .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productsAll .header a {
    padding: 1.5rem 2rem;
    background-color: #092635;
    color: #fff;
    border-radius: .5rem;
    font-weight: 700;
}

.productsAll .form-search-product {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding:2rem 0rem;
    background-color: #fff;
    text-align: center;
    border-radius: 0 1rem 1rem 0;
}

.productsAll .form-search-product .list-products {
    width: 100%;
}

.productsAll .form-search-product .list-products thead tr th {
    background-color: #347cbb;
    padding: 1.5rem;
    font-weight: 800;
    color: #fff;
}

.search-product {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.search-product label {
    text-align: left;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.search-product input[type="text"] {
    padding: 1.5rem 2rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    outline: none;
}
.search-product input[type="text"]:focus{
    outline: none;
    border-color: #2d89da;
}
.search-product .product-notFound {
    padding: 1rem 2rem;;
    background-color: #A01C48;
    border-radius: .5rem;
    margin: 1rem 0;
    color: #f1f1f1;
    font-weight: 700;
}