.client-update{
    width: 120rem;
    margin: 0 auto;
    height: auto;
}

.client-update form{
    padding: 2rem;
    height: auto;
}
.client-update .campo{
    padding: 2rem 0;
    height: auto;
}

.client-update .campo label{
    color: #707070;
}

.client-update .campo{
   display: flex;
   flex-direction: column;
}
.client-update .campo input[type="text"],
.client-update .campo input[type="email"]{
    padding:1rem;
    width: 100%;
    border-radius: .5rem;
    outline: #347cbb;
    color: #707070;
}
.client-update .campo input[type="text"]:focus,
.client-update .campo input[type="email"]:focus{
    border: 3px solid #347cbb;
    border-color: #347cbb;
    color: #1f1e1e ;
}
