.client-update {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 2rem;
}

.client-update h2 {
    text-align: center;
}

.client-update .form_update_client {
    max-width: 80%;
    margin: 0 auto;
    height: auto;
}

.form_update_client .campo {
    margin-bottom: 3rem;
}

.form_update_client legend {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: #707070;
}

.form_update_client .campo label {
    color: #707070;
}

.client-update .form_update_client input[type="text"],
.client-update .form_update_client input[type="email"] {
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 1.5rem;
    width: 100%;
    border-radius: .5rem;
    outline: none;
    color: #707070;
    margin-top: 1rem;
}

.client-update .form_update_client input[type="text"]:focus,
.client-update .form_update_client input[type="email"]:focus {
    border: 3px solid #347cbb;
    color: #1f1e1e;
}

.client-update .form_update_client .updateSubmit {
    background-color: #347cbb;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 900;
}