.orderAll {
    padding: 2rem;
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    height: fit-content;
}

.orderAll h2 {
    text-align: center;
    margin-bottom: 10rem;
}

.orderAll table {
    width: 100%;
    border-collapse: collapse;
}

.orderAll table thead tr th {
    border: 2px solid #e1e1e1;
    background-color: #347cbb;
    padding: 1.5rem 1.5rem;
    font-weight: 800;
    color: #fff;
    display: block;
}

@media (min-width: 968px){

    .orderAll{
        padding: 0;
    }
    .orderAll table thead tr th {
        display: table-cell;
        padding: 1rem 3rem;
    }
}

.orderAll table tbody tr td button {
    border: none;
    cursor: pointer;
    background: none;
}

.resumen-total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.resumen-total .campo-total {
    padding: 2rem 0;
    border-top: 1px solid #969696;
    border-bottom: 1px solid #969696;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.resumen-total .campo-total p {
    padding-right: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.resumen-total .campo-total p {
    padding: 1rem;
    border: none;
}