.orderAll {
    padding: 2rem;
    width: 100%;
    margin: 0 auto;
    height: fit-content;
}

.orderAll h2 {
    text-align: center;
    margin-top: 10rem;
}

.orderAll .list-orders {
    overflow-x: scroll;
    height: 30rem;
    width: 100%;
    border-collapse: collapse;
}

.orderAll table thead tr th {
    border: 2px solid #e1e1e1;
    background-color: #347cbb;
    padding: 1.5rem 1.5rem;
    font-weight: 800;
    color: #fff;
    display: block;
}

.orderAll table tbody tr td button {
    border: none;
    cursor: pointer;
    background: none;
}

.table-orders{
    overflow-x: scroll;
    height: 70rem;
}
@media (min-width: 968px){

    .orderAll{
        padding: 0 5rem;
        width: 100%;
    }
    .orderAll table thead tr th {
        display: table-cell;
        padding: 1rem 3rem;
    }

}

