.orderAll {
    padding: 2rem;
    width: 80%;
    max-width: 120rem;
    margin: 0 auto;
    height: fit-content;
}

.orderAll h2 {
    text-align: center;
    margin-bottom: 10rem;
}

.orderAll .list-orders {
    width: 100%;
    border-collapse: collapse;
    background-color: ;
}

.orderAll table thead tr th {
    border: 2px solid #e1e1e1;
    background-color: #347cbb;
    padding: 1.5rem 1.5rem;
    font-weight: 800;
    color: #fff;
    display: block;
}

.orderAll table tbody tr td button {
    border: none;
    cursor: pointer;
    background: none;
}

@media (min-width: 968px){

    .orderAll{
        padding: 0;
    }
    .orderAll table thead tr th {
        display: table-cell;
        padding: 1rem 3rem;
    }
}

