.table-tbody tr td {
    padding: 1.5rem 2.5rem;
    border-bottom: 1px solid #dadbdc;
    color: #383535;
}

.table-tbody tr td {
    text-transform: uppercase;
}

.table-tbody tr td .imgProduct {
    width: 5rem;
    cursor: pointer;
}

.table-tbody tr td .imgProduct:hover {
    transform: scale(5);
}

.table-tbody .btn-delete-product {
    background-color: transparent;
}