.search-products {
    width: auto;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    border-radius: 0 1rem 1rem 0;
}

.search-products legend {
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    padding: 2rem 0;
}

.search-products .campo {
    padding: 1rem 0rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-products .campo label {
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;

}

.search-products .campo input[type="text"] {
    width: 100%;
    border-radius: .5rem;
    padding: 1.5rem;
    outline: none;
}

.search-products .campo input[type="submit"] {
    background-color: #00487C;
    padding: 1rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: .5rem;
    width: 100%;
}

.search-products .campo input[type="submit"]:hover {
    cursor: pointer;
}

