.contenedor-home {
    margin: 10rem auto 0 auto;
    width: auto;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center; 
}

.contenedor-home h2 {
    font-size: 5rem;
    color: #fff;
    margin: 0;
    font-weight: bold;
}

.contenedor-home h2 strong {
    font-style: italic;
    color: #052c66;
}

.contenedor-home h2 span {
    display: block;
    font-size: 1.7rem;
}

.contenedor-home .boton {
    background-color: #052c66;
    color: #fff;
    font-weight: 600;
    margin-top: 5rem;
    padding: 1rem 2rem;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.5rem;
}

.contenedor-home .boton:hover {
    background-color: #0a59cb;
}

.register-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.register-account p {
    margin-right: 1rem;
    color: #fff;
    font-weight: 600;
}

.register-account a {
    background-color: red;
    color: #fff;
    border-radius: 0.5rem;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
}

.register-account a:hover {
    background-color: #fff;
    color: red;
}


@media (min-width:768px) {
    .contenedor-home {
        margin: 10rem auto 0 auto;
        width: 50rem;
        padding: 2rem;
        border-radius: 1rem;
        text-align: center; 
    }
    .contenedor-home h2 {
        font-size: 8rem;
    }
}