.caja-contenido {
    padding: 2rem;
    margin-top: 1rem;
}

.register {
    max-width: 75rem;
    margin: 0 auto;
    max-width: 120rem;
    height: 100%;
}

.register-image {
    background-image: url("https://images.ctfassets.net/63bmaubptoky/2lYRN5xuENilsxThZSi66a/749bd49f397b2f338110040c00024fed/caracteristicas-de-un-CRM-MX-CA-header.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

.registro-formulario {
    margin: 0 auto;
}

.register .form-register {
    width: auto;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 2rem;
}

.register .form-register h2 {
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.register .form-register legend {
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    display: block;
    padding: 2rem;
    margin-bottom: 2rem;
}

.register .form-register .campo {
    padding: 1.5rem 2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.register .form-register .campo label {
    margin-bottom: 1rem;
    font-weight: 600;
}

.register .form-register .campo input {
    width: 100%;
    border-radius: 1rem;
}

.register .form-register .campo input:focus {
    outline: none;
    border-color: #007bff
}

.register .form-register .campo label {
    flex: 0 0 25px;
}

.register .form-register .campo input:not([type="submit"]) {
    padding: 1.5rem;
    width: 100%;
    border: 1px solid #e1e1e1;
}

.register .form-register .campo input[type="file"] {
    margin-left: 2rem;
}

.register .form-register .campo input[readonly] {
    background-color: #e1e1e1;
}

.register .form-register .campo input[type="submit"] {
    background-color: #fff;
    border-radius: .5rem;
    border: 1px solid red;
    color: red;
    font-size: 1.8rem;
    letter-spacing: .2rem;
    padding: 2rem 0;
    width: 100%;
    cursor: pointer;
}

.register .form-register .campo input[type="submit"]:hover {
    background-color: red;
    border: 1px solid red;
    color: #e1e1e1;
}

.register .form-register .campo-login p {
    display: flex;
    justify-content: end;
    font-weight: 600;
    margin: 0;
}

.register .form-register .campo-login p a {
    padding: 0 1rem;
    color: red;
    font-weight: 600;
}

@media (min-width: 768px) {
    .caja-contenido {
        margin-top: 4rem !important;
    }

    .register {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 75rem;
        margin: 0 auto;
        max-width: 120rem;
        height: 100%;
    }

    .register-image {
        display: block;
    }

    .registro-formulario {
        margin: 0 auto;
        width: 100%;
    }

    .register .form-register .campo {
        padding: 2rem 2rem;
    }

    .register .form-register{
        padding: 4rem 2rem;
    }
}