.register {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 75rem;
    margin: 0 auto;
}

.register-image {
    background-image: url("https://images.ctfassets.net/63bmaubptoky/2lYRN5xuENilsxThZSi66a/749bd49f397b2f338110040c00024fed/caracteristicas-de-un-CRM-MX-CA-header.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem 0 0 1rem;
}

@media (min-width: 768px) {
    .register {
        max-width: 120rem;
        height: 100%;
    }
}

/** Formularios **/
.register form {
    width: auto;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 4rem;
    border-radius: 0 1rem 1rem 0;
}

.register form h2 {
    margin: 0;
    color: #000;
}

.register form legend {
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    display: block;
    padding: 2rem;
    margin-bottom: 2rem;
}

.register form .campo {
    padding: 2rem 2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.register form .campo input {
    width: 100%;
    border-radius: 1rem;
}

.register form .campo input:focus {
    outline: none;
    border-color: #007bff
}

.register form .campo label {
    flex: 0 0 25px;
}

.register form .campo input:not([type="submit"]) {
    padding: 1.5rem;
    width: 100%;
    border: 1px solid #e1e1e1;
}

.register form .campo input[type="file"] {
    margin-left: 2rem;
}

.register form .campo input[readonly] {
    background-color: #e1e1e1;
}

.register form .campo input[type="submit"] {
    background-color: #fff;
    border-radius: .5rem;
    border: 1px solid red;
    color: red;
    font-size: 1.8rem;
    letter-spacing: .2rem;
    padding: 2rem 0;
    width: 100%;
}

.register form .campo input[type="submit"]:hover {
    background-color: red;
    border: 1px solid red;
    color: #e1e1e1;
}

.register form .campo-login p {
    display: flex;
    justify-content: end;
    font-weight: 600;
    margin: 0;
}

.register form .campo-login p a {
    padding: 0 1rem;
    color: red;
    font-weight: 600;
}

@media (min-width: 468px) {
    form {
        height: 100%;
        width: 100%;
    }

    form .campo {
        padding: 2rem 2rem;
        align-items: start;
    }

}