.table-tbody tr td {
    padding: 1.5rem 1rem !important;
    font-size: 1.4rem;
    color: #383535;
    cursor: pointer;

}

.table-tbody tr td:last-of-type{

}
.table-tbody tr:hover td{
    color: white;
    background-color:#1f539b ;
}

.table-tbody tr .fullname,
.table-tbody tr .email,
.table-tbody tr .city,
.table-tbody tr .address,
.table-tbody tr .country {
    text-transform: uppercase;
}

.table-tbody .btn-delete-client {
    background-color: transparent;
}