
.table-tbody tr td {
    padding: 1.5rem 2.5rem;
    border-bottom: 1px solid #dadbdc;
    color: #383535;
}

.table-tbody tr .fullname,
.table-tbody tr .company {
    text-transform: capitalize;
}

.table-tbody .btn-delete-client {
    background-color: transparent;
}