.reset-password {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
    margin: 0 auto;
    border-radius: .5rem;
}

.reset-image {
    background-image: url("https://images.ctfassets.net/63bmaubptoky/2lYRN5xuENilsxThZSi66a/749bd49f397b2f338110040c00024fed/caracteristicas-de-un-CRM-MX-CA-header.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

.reset-formulario .form-reset {
    width: auto;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 2rem;
}

.reset-password .form-reset h2 {
    margin-bottom: 10rem;
    color: #000;
    font-size: 2.4rem;
}

.reset-formulario .form-reset .campo {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 2rem;
}

.reset-formulario .form-reset .campo:last-of-type{
    margin-top: 10rem;
}
.reset-formulario .form-reset .campo:first-of-type label{
    margin-bottom: 1rem;
    font-size: 2rem;
}
.reset-formulario .form-reset .campo input[type="email"]{
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
}
.reset-formulario .form-reset .campo input:focus {
    outline: none;
    border-color: #007bff
}

.reset-formulario .form-reset .campo input[type="submit"] {
    width: 100%;
    border-radius: .5rem;
    background-color: #0a59cb;
    padding: 1.5rem;
    font-size: 1.8rem;
    letter-spacing: .2rem;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.reset-formulario .form-reset .campo input[type="submit"]:hover {
    background-color: #052c66;
}

.reset-formulario .form-reset .campo:last-of-type a{
    display: flex;
    padding: 1rem 2rem;
    background-color: rgb(179, 37, 37);
    color: #fff;
    font-weight: 700;
    border-radius: .5rem;
    justify-content: center;
    width: 100%;
}


@media (min-width:768px){
    .reset-password {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    .reset-password .form-reset h2 {
        font-size: 3rem;
    }
    .reset-image {
        display: block;
    }

    .reset-formulario .form-reset .campo:last-of-type{
        margin-top: 20rem;
    }

    .reset-formulario .form-reset .campo:last-of-type a{
        padding: 1rem 2rem;
        width: auto;
        align-self: center;
    }
}