.table-tbody tr td {
    padding: 1.5rem 2.5rem;
    border-bottom: 1px solid #dadbdc;
    color: #383535;
}

.table-tbody tr .fullname,
.table-tbody tr .brand {
    text-transform: capitalize;
}

.table-tbody tr .imgProduct{
    width: 3rem;
    cursor: pointer;
}

.table-tbody tr .imgProduct:hover{
    width: 30rem;
}
.table-tbody .btn-delete-product {
    background-color: transparent;
}